<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html" />
	<title>Wistea Village</title>
</head>
<body>
	<div class="wrapper">
		<div class="title"><a href="home.html">Wistea Village</a></div>
		<div class="main">
			<div class="box links">
				<a href="home.html">
					<img src="home.png"/>
					<span>Home</span>
				</a>
				<a href="village.html">
					<img src="village.png"/>
					<span>Village</span>
				</a>
				<a href="rules.html">
					<img src="rules.png"/>
					<span>Rules</span>
				</a>
				<a href="creation.html">
					<img src="creation.png"/>
					<span>Creation</span>
				</a>
				<a href="events.html">
					<img src="events.png"/>
					<span>Events</span>
				</a>
				<a class="link"href="residents.html">
					<img src="residents.png"/>
					<span>Residents</span>
				</a>
			</div>
			<%- body %>
		</div>
	</div>
</body>
</html>